useful_links.txt
journal_club/week1.pdf
cheat_sheet/data-transformation-1.pdf
cheat_sheet/package-development-1.pdf
cheat_sheet/reticulate-1.pdf
cheat_sheet/rstudio-ide-1.pdf
cheat_sheet/tidyr.pdf
code/filter_raw_data.html
data/test.fasta
code/create_fasta.R
notes/dada2/notes_on_dada2.pdf